<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport
      http://logback.qos.ch/translator/
-->
<configuration>
    <appender name="paylogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${webapp.root}/../logs/Pay-${jetty.port}.log</File>
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%c]-[%p] %m%n</pattern>-->
            <pattern>%d [%c]-[%p] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${webapp.root}/../logs/Pay-${jetty.port}.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>8192KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${webapp.root}/../logs/star-${jetty.port}.log</File>
        <encoder>
            <pattern>%d %p [%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${webapp.root}/../logs/star-${jetty.port}.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>4096KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="testlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${webapp.root}/../logs/star-test.log</File>
        <encoder>
            <pattern>%d %p [%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${webapp.root}/../logs/star-test.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>8192KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="slowLogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${webapp.root}/../logs/star-slow-${jetty.port}.log</File>
        <encoder>
            <pattern>%d %p [%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${webapp.root}/../logs/star-slow-${jetty.port}.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>4096KB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="errorfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${webapp.root}/../logs/star-error-${jetty.port}.log</File>
        <encoder>
            <pattern>%d %p [%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${webapp.root}/../logs/star-error-${jetty.port}-%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>15</MaxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>8192KB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <logger name="com.wawa.web.pay" level="DEBUG" additivity="false">
        <appender-ref ref="paylogfile"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="com.wawa.web.api.trade" level="DEBUG" additivity="false">
        <appender-ref ref="paylogfile"/>
        <appender-ref ref="stdout"/>
    </logger>

    <!--记录慢查询-->
    <logger name="com.wawa.base.support.ControllerSupport" level="${log.web.level}" additivity="false">
        <appender-ref ref="slowLogfile"/>
    </logger>

    <logger name="com.wawa.web" level="ERROR">
        <appender-ref ref="${log.error.target}"/>
    </logger>

    <logger name="com.wawa.web.spring" level="INFO"/>
    <logger name="com.wawa.web" level="${log.web.level}"/>
    <logger name="com.wawa.service" level="${log.web.level}"/>
    <logger name="com.wawa.common.util" level="${log.web.level}"/>

    <root level="INFO">
        <appender-ref ref="${log.target}"/>
    </root>
</configuration>